* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;   
}

.container {
    width: 80%;
    margin: 0 auto;
}

.float-left {
    float: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-right {
    float: right; 
}

.list-inline {
    list-style: none;
}

.header-top {
    background-color: #F4F9FD;
    height: 80px;
    line-height: 80px;
}

.list-inline a:not(.btn) {
    text-decoration: none;
    color: #33475B;
    font-size: 14px;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 25px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.btn-orange {
    background-color: #fe7759;
    border: 1px solid #fe7759;
    color: white;
}
.btn-orange:hover {
    background-color: white;
    color: #fe7759;
}
.btn-white {
    background-color: white;
    border: 1px solid #fe7759;
    color: #fe7759;
}
.btn-white:hover {
    background-color: #fe7759;
    color:  white;
}

.header-bottom {
    height: 80px;
}

.w-50 {
    width: 50%;
}

.jumbotron {
    background-color: lightgreen;
    height: 500px;
    background-image: url("../img/jumbotron.png");
    background-position: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.jumbotron-text .container {
    position: relative;
    top: 20%;
}

h1 {
    color: blue;
    font-size: 40px;
    
    
}
