* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;   
}

.container {
    width: 80%;
    margin: 0 auto;
}

.float-left {
    float: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-right {
    float: right;
    list-style: none;
   
}

.list-inline {
    list-style: none;
}

.header-top {
    background-color: blueviolet;
    width: 85%;
    height: 80px;
    margin: 0 auto;
}

.list-inline a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}

.list-inline > li {
    display: inline-block;
    padding: 30px 25px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.btn-green {
    background-color: green;
    border: 1px solid #7cbb02;
}
.btn-green:hover {
    background-color: white;
    color: green;
}
.btn-orange {
    background-color: white;
    border: 1px solid orange;
}
.btn-orange:hover {
    background-color: white;
    color: orange;
}

.header-bottom {
    margin: 0 40px;
}

.jumbotron {
    background-color: lightgreen;
    height: 500px;
    background-image: url("../img/jumbotron.png");
    background-position: 100% 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.jumbotron-text {
    position: relative;
    top: 20%;
}

h1 {
    color: blue;
    font-size: 40px;
    
    
}
